<h1>Welcome to shop 'SHELTER'!</h1>
<p>Dear <%= @user.email %>,</p>
<p>Thank you for registering. We're excited to have you on board!</p>
<p>Please click the link below to access our products:</p>
<p><%= link_to 'Go to Shop', products_url, target: '_blank' %></p>
