@import 'custom_styles.css';
/* Стилизация общего контейнера для навигационного меню */
.nav-menu {
  background-color: #f0f0f0;
  padding: 10px;
}

/* Стилизация ссылок в навигационном меню */
.nav-menu a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #ddd;
}

/* Стилизация аватара пользователя */
.nav-menu .user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Дополнительные стили для активной ссылки, например, текущей страницы */
.nav-menu .active {
  background-color: #007bff;
  color: #fff;
}
body {
  background-color: #fff;
  color: #333;
  margin: 33px; }

div.field,
div.actions {
  margin-bottom: 10px; }

footer {
  height: 100px;
  margin: 50px;
}
form textarea {
  width: calc(10% - 18px);
  border: 1px solid #7aaad2;
  border-radius: 9px;
  font-size: 0.95em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  outline: none;
  padding: 7px 3px 5px; }